{# ------------------------------------
./private/scm_new_edit.html.j2
-------------------------------
Edit and Inserts Spatial Data

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}
{# cSpell:ignore tojson unselectable datalist endfor fromjson #}

{% set dlg_var_icon_url= iconFileUrl %}

{% set field_list = fieldList | default ("[]") | fromjson %}


{% extends "./layouts/form.html.j2" %}

{# ╒══════════════════════ Inputs ═════════════════════════╕ #}
{% block frm_blc_inputs %}

<div class="form-group"> {# [ Name #}
    <label class="frm-label" inert for="{{ form.name.id }}">
        {{ nameLabel }}
    </label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="{{ faStyle }} fa-fw fa-location-dot" aria-hidden="true"></i>
        </span>
        {{ form.name() }}
    </div>
</div> {# Name ] #}


<div class="form-group mt-2"> {# [ Title #}
    <label class="frm-label" inert for="{{ form.title.id }}">
        {{ titleLabel }}
    </label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="{{ faStyle }} fa-fw fa-tag" aria-hidden="true"></i>
        </span>
        {{ form.title() }}
    </div>
</div> {# Title ] #}

<div class="form-group mt-2"> {# [ Description #}
    <label class="frm-label" inert for="{{ form.description.id }}">
        {{ descriptionLabel }}
    </label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="{{ faStyle }} fa-fw fa-align-left" aria-hidden="true"></i>
        </span>
        {{ form.description() }}
    </div>
</div> {# Description ] #}

{# [ File #}
<div class="form-group mt-2">
    <label class="frm-label" inert for="{{ form.spd_file.id }}">{{ fileLabel }}</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="{{ faStyle }} fa-fw fa-layer-group" aria-hidden="true"></i>
        </span>
        {{ form.spd_file() }}
    </div>
</div>{# File ] #}

{# [ spd Attributes #}
<span class="input-group-text mt-2 py-0 justify-content-center unselectable-text">
    <i class="{{ faStyle }} fa-fw fa-user-tag" aria-hidden="true"></i>
    &nbsp;&nbsp;{{fieldsLabel}}
    {# Icon options: fa-bookmark, #}
</span>
<div class=" row">
    <div class="col form-group">
        <label class="frm-label" inert for="{{ form.field_ID.id }}">
            {{ fieldIDLabel }}
        </label>
        {{ form.field_ID() }}
    </div>
    <div class="col form-group">
        <label class="frm-label" inert for="{{ form.field_name.id }}">
            {{ fieldNameLabel }}
        </label>
        {{ form.field_name() }}
    </div>
    <div class="col form-group">
        <label class="frm-label" inert for="{{ form.field_alt_name.id }}">
            {{ fieldAltNameLabel }}
        </label>
        {{ form.field_alt_name() }}
    </div>

    <datalist id="{{ fieldListID }}">
        {% for f in field_list %}
        <option value="{{ f }}"></option>
        {% endfor %}
    </datalist>


</div> {# spd Attributes ] #}

{% endblock frm_blc_inputs %}
{# ╘══════════════════════ Inputs ═════════════════════════╛ #}
{# eof #}