{# ------------------------------------
./private/test_backend_msg.html.j2
-----------------------------------
Layout test for backend-msg.html.j2
Displays all six message types at varying lengths
so the flexbox icon-pinning can be evaluated.

mgd
--------------------------------------- #}

{% extends "layouts/form.html.j2" %}

{# eof #}
