/* ============================================
 *  carranca\static\css\canoa.css
 *
 *  2024-02-12
 *  Miguel Gastelumendi -- mgd
 * ============================================ */

/* cSpell:ignore callout Konqueror tmpl adaptabrasil stylesheet*/

:root {
    --project-name: 'Canoa';

    /* https://www.colorhexa.com/704214 */
    /* complementary */
    --canoa-dlg-header-bg: #b36920;
    --canoa-dlg-header-color: white;
    --canoa-dlg-body-bg: #fbf3ea;
    /* ~30 lighter the the button */
    /* not working :-( --canoa-form-icon-btn-bg: color-mix(in srgb, var(--bg-color) 70%, white); */
    /* 130 % --canoa-form-icon-btn-bg: #195591; */
    /* brightness(160%) */
    --canoa-form-icon-btn-bg: #2069B3;
    --canoa-form-text-color: #814c17;
    --canoa-form-link-color: #814c17;
    --canoa-form-footer-bg: #f8e9d9;
    --canoa-form-footer-top: #f8dbbc;
    --canoa-form-button-bg: #144270;
    --canoa-form-icon-color: #975513;
    --canoa-form-label-color: #814c17;
    --canoa-form-button-color: white;

    --canoa-label-margin-left: calc(var(--bs-border-radius) / 2);
    --adaptabrasil-back-color: white;
}

body {
    /*
    background: url(/static/img/pages/canoa_fundo.jpeg) no-repeat center center fixed;
    background-size: cover;
    */
    /* In this way, Firefox has NO flickering   is has! */
    background-color: var(--canoa-form-text-color);
    background-image: url('/static/img/pages/canoa_fundo.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.unselectable-text {
    -webkit-touch-callout: none;
    /* iOS */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.code-text {
    font-family: var(--bs-font-monospace);
}

/* ============================================
 *  navigator.html.j2
 * ============================================ */
#navbar-main {
    background-color: #ffffff7a;
}


/* ============================================
 *  carranca\templates\layouts\dialog.tmpl
 * ============================================ */

.frm-size {
    /* this is an empty class to default to Bootstrap default */
}

.dlg-width {
    /* https://getbootstrap.com/docs/4.2/components/modal/#optional-sizes */
    /* this line gives error: "--bs-modal-lg is not set". So as --bs-modal-lg: 900px;
    max-width: calc(var(--bs-modal-width) + (var(--bs-modal-lg) - var(--bs-modal-width)) / 2); */
    max-width: calc(var(--bs-modal-width) + (900px - var(--bs-modal-width)) / 2);
}

.dlg-body {
    background-color: var(--canoa-dlg-body-bg);
    padding-bottom: 1.4rem
}

.dlg-header {
    background-color: var(--canoa-dlg-header-bg);
    padding: 0.6rem 1rem 0.6rem 1rem
}

.dlg-title {
    color: var(--canoa-dlg-header-color);
    line-height: 1;
    /* to align the icon vertically */
}

.dlg-sleep-veil {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dlg-sep-icon-back {
    background-color: var(--adaptabrasil-back-color);
    vertical-align: middle;
    display: inline-block;
    padding: 1px;
}

.dlg-icon-back {
    vertical-align: middle;
    display: inline-block;
}

.dlg-icon-img {
    /* This ruleset is empty and contains no declarations */
}

.dlg-footer {
    background-color: var(--canoa-form-footer-bg);
    border-top: 1px solid var(--canoa-form-footer-top);
    min-height: 2rem;
    padding: 0rem !important;
}

/* dialog ids */
#dlg-var-svg-id {
    fill: var(--canoa-form-button-bg, red);
}

/* ============================================
 *  carranca\templates\layouts\includes\navigator.html.j2
 * ============================================ */
.menu-item-disable-link-color {
    color: var(--bs-dropdown-link-color) !important;
}

/* ============================================
 *  carranca\templates\home\document.html.j2
 * /!\ font-family
 *  is imported by Bootstrap CSS
 *  in .\templates\layouts\base.html.j2
 * ============================================ */
.document-body-class {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #2c2c2c;
    text-align: left;
    margin: 1rem;
}

/* =+===========================================
 *  ag-grid override
 *  see
 * carranca\templates\includes\grid-body.html.j2
 *
 * 2025-05-21
 * by ChatPGT
 * ============================================ */
/* Focus: */
/* .ag-theme-quartz.ag-has-focus .ag-row.ag-row-selected {
    background-color: #971556;
} */

/*A. Selected row when grid does *not* have focus
/* .ag-theme-quartz :not(.ag-has-focus) .ag-row.ag-row-selected {
    background-color: color-mix(in srgb, var(--ag-selected-row-background-color) 10%, red 90%) !important;
} */


/* B. Selected row when grid have focus* */
.ag-theme-quartz .ag-has-focus .ag-row.ag-row-selected {
    background-color: var(--ag-selected-row-background-color);
}

.ag-cell-focus {
    border: 0 !important;
}

/* Make it soft */
.ag-row {
    transition: background-color 0.2s ease;
}

.ag-cell-focus.ag-cell-not-inline-editing.grd-col-sep_new {
    border: 1px solid var(--ag-range-selection-border-color) !important;
    /* initial  */
}

/* ============================================
 *  carranca\templates\layouts\grid.html.j2
 * ============================================ */


/* if changed, see SepIconConfig.error_content() */
.grid-item-remove {
    color: firebrick;
}

/* if changed, see SepIconConfig.empty_content() */
.grid-item-none {
    color: darkgrey;
}

.grid-item-changed {
    color: limegreen;
}

.grid-body {
    padding: 0.5rem;
}


/* ============================================
 * carranca\templates\includes\backend-msg.html.j2
 * ============================================ */

.backend-msg-alert {
    /* Set position to relative for absolute positioning of the icon if needed */
    /* position: relative; */
}

.backend-msg-icon {
    /* Use absolute positioning to move it to the true corner */
    /* position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    font-size: 1.5rem;
    line-height: 1; */
    display: none;
    /*
        Error	❌ (Heavy X)	fa-xmark	\f00d
        Fatal Error	💀 (Skull)	fa-skull-crossbones	\f714
        Warn / Alert	⚠️ (Warning Sign)	fa-triangle-exclamation	\f071
        Info	ℹ️ (Info Source)	fa-circle-info	\f05a
        Tech Info	⚙️ (Gear)	fa-gears (or fa-gear)	\f085 (or \f013)
        Success	✅ (Check Mark)	fa-circle-check	\f058
    */

}

/* ============================================
 *  carranca\templates\layouts\form.html
 * ============================================ */
.fas {
    /* font awesome solid 'icon' */
    color: var(--canoa-form-icon-color);
}

.frm-label {
    color: var(--canoa-form-label-color);
    font-weight: 500;
    margin-left: var(--canoa-label-margin-left);
    /* see bootstrap.form-label { margin-bottom: .5rem; } */
    margin-bottom: .10rem;
}

.frm-line {
    margin-bottom: 0px;
}

.frm-link {
    color: var(--canoa-form-link-color);
    font-weight: 400;
    text-decoration: none;
}

.frm-link:hover {
    text-decoration: underline;
}

.frm-check-input {
    color: var(--canoa-form-label-color);
    font-weight: 500;
    cursor: pointer;
}

.frm-check-btn {
    margin-left: var(--canoa-label-margin-left);
    accent-color: var(--canoa-form-button-bg);
}

.frm-check-for-bs {
    min-width: 6rem;
    justify-content: center;
    cursor: pointer;
    accent-color: var(--canoa-form-button-bg);
}

.frm-main-btn {
    color: var(--canoa-form-button-color);
    border: 10px;
    font-size: 1.1rem;
    min-width: 8em;
    transition: filter 0.3s ease;
    border-radius: var(--bs-border-radius);
    background-color: var(--canoa-form-button-bg);
}

.frm-main-btn:hover {
    /* same as fillcolor of carranca\static\icons\ups_handler.svg */
    filter: brightness(130%);
}

.frm-main-btn:active {
    /* 30% + frm-main-btn:hover */
    filter: brightness(160%);
}

.frm-main-btn:disabled {
    color: var(--canoa-form-button-color);
    filter: brightness(70%);
    background-color: var(--canoa-form-button-bg);
}

.frm-pw-eye-btn {
    /* similar to frm-main-btn:hover */
    transition: filter 0.3s ease;
    background-color: var(--canoa-form-icon-btn-bg);
}

.frm-pw-eye-btn:hover {
    filter: brightness(110%);
    background-color: var(--canoa-form-icon-btn-bg);
}

/* override bs that has +!.btn-check */
.frm-pw-eye-btn:not(.btn-check):active {
    filter: brightness(120%);
    /* override bs */
    background-color: var(--canoa-form-icon-btn-bg);
}

.frm-pw-eye-icon {
    color: var(--canoa-form-button-color);
}

/* ============================================
 *          responsive design
 * ============================================ */

/* @media screen and (max-width: 992px) {
    .dlg-title {
        font-size: 80%;
    }
} */

::-webkit-input-placeholder {
    font-style: italic;
}


/* eof */