{#
--------------------------------------
./accounts/email_to_test_email.html.j2
--------------------------------------
This dialog confirms that a test email has been sent to the user's registered email address,
verifying email deliverability and sending engine functionality.

mgd
--------------------------------------- #}
{# cSpell:ignore #}
{% set dlg_cls_size= '' %}
{% set form_close_btn_text= closeFormButton | default(ui_defaults.okButton) %}
{# {% set form_backend_msg= msgOnly | default(True) %} #}

{% extends "./layouts/dialog.html.j2" %}

{# ╒════════════════ Dialog Body ════════════════╕ #}
{% block dlg_blc_body %}

{% include "includes/backend-msg.html.j2" %}

{% endblock dlg_blc_body %}
{# ╘════════════════ Dialog Body ════════════════╛ #}


{# ╒════════════════ Dialog Footer ═══════════════╛ #}
{% block dlg_blc_footer_buttons %}

<div class="col-auto">
    {% from "includes/_action_forms_and_btns.html.j2" import btn_close_dlg %}
    {{ btn_close_dlg(dlg_close_form_id, dlg_close_btn_id, form_close_btn_text) }}
</div>

{% endblock dlg_blc_footer_buttons %}
{# ╘════════════════ Dialog Footer ═══════════════╛ #}

<!-- eof -->