{#
------------------------
./accounts/login.html.j2
------------------------
`login` page the _landing page_ for visitors
`home` page is for users

mgd
--------------------------------------- #}
{# cspell:ignore unselectable endfrom #}

{% set dlg_cls_size = 'frm-width' %}
{% set dlg_close_btn_visible= False %}
{% set display_footer_options= display_footer == 'True' %}
{% extends "./layouts/form.html.j2" %}

{# ╒════════════════ Inputs ════════════════╕ #}
{% block frm_blc_inputs %}

<!-- { User Name -->
<div class="form-group">
    <label class="form-label" inert for="{{form.username.name}}">{{ userLabel }}</label>
    <div class="input-group">
        <span class="input-group-text"><i class="{{faStyle}} fa-fw fa-user"></i></span>
        {{ form.username() }}
    </div>
</div>
<!-- User Name } -->

<!--{ Password  -->
<div class="form-group mt-3">
    {% from "./includes/_password_field.html.j2" import password_field_input %}
    {{ password_field_input(form.password, faStyle, passwordLabel, passwordShow) }}
</div>
<!-- Password }-->

<!-- { RememberMe -->
<div class="mt-2">
    {{ form.remember_me() }}
    <label class="unselectable-text form-check-label ms-0" for="{{form.remember_me.name}}">
        {{ rememberMe }}
    </label>
</div>
<!-- RememberMe } -->

{% endblock frm_blc_inputs %}
{# ╘════════════════ Inputs ════════════════╛ #}


{# ╒════════════════ Buttons ═══════════════╕ #}
{# % block dlg_blc_footer_buttons % #}
{# ╘════════════════ Buttons ═══════════════╛ #}

{# ╒════════════════ Options ═══════════════╕ #}
{% block dlg_blc_footer_options %}

{% if display_footer_options %}
{# Replaced Bootstrap class= "row" with style= "display: flex; flex-wrap: wrap;" to avoid gutter #}

<div style="display: flex; flex-wrap: wrap;" class="row mt-0 ps-0 pe-0">
    <div class="col-6">
        <a href="{{ public_route('docs', publicDocName='privacyPolicy') }}" class="form-link">
            {{ privacyPolicy}}
        </a>
    </div>
    <div class="col-6 text-end">
        <a href="{{ public_route('password_recovery') }}" class="form-link">
            {{ forgotPassword }}
        </a>
    </div>
    <div class="col-6">
        <a href="{{ public_route('docs', publicDocName='termsOfUse') }}" class="form-link">{{ termsOfUse }}</a>
    </div>
    <div class="col-6 text-end">
        <a href="{{ public_route('register') }}" class="form-link">{{ gotoRegister }}</a>
    </div>
</div>

{% endif %}

{% endblock dlg_blc_footer_options %}
{# ╘════════════════ Options ═══════════════╛ #}

{# ╒════════════════ Open Eye ══════════════╕ #}
{% block frm_blc_script %}
{% from "./includes/_password_field.js.j2" import password_field_js %}
{{ password_field_js() }}
{% endblock frm_blc_script %}
{# ╘════════════════ Open Eye ══════════════╛ #}

{# eof #}