{#
------------------------------------
./accounts/password_recovery.html.j2
------------------------------------
Password Recovery Form

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}

{% set form_close_btn_text= successButton %}
{% set dlg_cls_size= '' %}
{% extends "./layouts/form.html.j2" %}

{# ╒════════════════ Inputs ════════════════╕ #}
{% block frm_blc_inputs %}

<!-- { user email -->
<div class="form-group">
    <label class="form-label" inert for="{{ form.user_email.name}}">{{ emailLabel }}</label>
    <div class="input-group">
        <span class="input-group-text"><i class="{{faStyle}} fa-fw fa-envelope"></i></span>
        {{ form.user_email(class="form-control", id="user_email") }}
    </div>
</div>
<!-- user email } -->

{% endblock frm_blc_inputs %}s
{# ╘════════════════ Inputs ════════════════╛ #}

{# ╒════════════════ Options ═══════════════╕ #}
{% block dlg_blc_footer_options %}

<div style="display: flex; flex-wrap: wrap;" class="row mt-0 ps-0 pe-0">
    <div class="col-6">
        <a href="{{ public_route('login') }}" class="form-link">{{ rememberedPassword }}</a>
    </div>
    <div class="col-6 text-end">
        <a href="{{ public_route('register') }}" class="form-link">{{ gotoRegister }}</a>
    </div>
</div>

{% endblock dlg_blc_footer_options %}
{# ╘════════════════ Options ═══════════════╛ #}

{# eof #}