{#
--------------------------------
./accounts/password_reset_or_change.html.j2
--------------------------------
Form can Reset or Change the logged
user's password

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}
{# cspell:ignore endfrom #}

{% set form_close_btn_text = rst_chgPwSuccessBtn %}
{% set dlg_cls_size = '' %}
{% set mrg_top = '' %}
{% set new_pws = '' %}
{% extends "./layouts/form.html.j2" %}


{% block frm_blc_inputs %}

<!-- { Current Password -->
{% if request_current_password or False %}
<div class="form-group">
    {% from "./includes/_password_field.html.j2" import password_field_input %}
    {{ password_field_input(form.current_password, faStyle, currentPasswordLabel, password_show) }}
</div>
{% set new_pws = "fa-circle-plus" %}
{% set mrg_top = "mt-3" %}
{% endif %}
<!-- Current Password } -->


<!-- { New Password -->
<div class="form-group {{ mrg_top }}">
    {% from "./includes/_password_field.html.j2" import password_field_input %}
    {{ password_field_input(form.password, faStyle, newPasswordLabel, password_show, new_pws) }}
</div>
<!-- New Password } -->

<!-- { Confirm Password -->
<div class="form-group mt-3">
    {% from "./includes/_password_field.html.j2" import password_field_input %}
    {{ password_field_input(form.confirm_password, faStyle, confirmNewPasswordLabel, password_show, 'fa-clone') }}
</div>
<!-- Confirm Password } -->

{% endblock frm_blc_inputs %}
{# eof #}

{% block frm_blc_script %}
{% from "./includes/_password_field.js.j2" import password_field_js %}
{{ password_field_js() }}
{% endblock frm_blc_script %}

{# eof #}