{#
------------------------------------
./accounts/register.html.j2
---------------------------

User Register Form

Extends:
./layouts/form.html.j2

mgd
--------------------------------------- #}

{% set dlg_cls_size= 'frm-width' %}
{% extends "./layouts/form.html.j2" %}

{# ╒════════════════ Inputs ════════════════╕ #}
{% block frm_blc_inputs %}

<!-- { User Name -->
<div class="form-group">
    <label class="form-label" inert for="{{form.username.name}}">{{ userLabel }}</label>
    <div class="input-group">
        <span class="input-group-text"><i class="{{faStyle}} fa-fw fa-user"></i></span>
        {{ form.username() }}
    </div>
</div>
<!-- User Name } -->

<!-- Email  -->
<div class="form-group mt-3">
    <label class="form-label" inert for="user_email">{{ emailLabel }}</label>
    <div class="input-group">
        <span class="input-group-text"><i class="{{faStyle}} fa-fw fa-envelope"></i></span>
        {{ form.email(class="form-control", type="email", id="user_email") }}
    </div>
</div>
<!-- Email } -->

<!--{ Password  -->
<div class="form-group mt-3">
    {% from "./includes/_password_field.html.j2" import password_field_input %}
    {{ password_field_input(form.password, faStyle, passwordLabel, passwordShow) }}
</div>
<!-- Password }-->


{% endblock frm_blc_inputs %}
{# ╘════════════════ Inputs ════════════════╛ #}

{# ╒════════════════ Options ═══════════════╕ #}
{% block dlg_blc_footer_options %}
{# Replaced Bootstrap class= "row" with style= "display: flex; flex-wrap: wrap;" to avoid gutter #}

<div style="display: flex; flex-wrap: wrap;" class="row mt-0 ps-0 pe-0">
    <div class="col-1" style="width: 1px">
        <input class="form-check-btn" type="checkbox" id="id-termsAccepted" required>
    </div>
    <div class="col-8">
        <label class="form-text form-line form-check-label" for="id-termsAccepted"> {{ termsLabel}}&nbsp;</label>
        <br>
        <a class="form-link" href="docs/termsOfUse">{{ termsOfUse }}</a>
        &nbsp;e&nbsp;
        <a href="docs/privacyPolicy" class="form-link">{{ privacyPolicy }}</a>
    </div>

    <div class="col-3 text-end">
        <a class="form-link" href="{{ public_route('login') }}">{{ gotoLogin }}</a>
    </div>
</div>
{% endblock dlg_blc_footer_options %}
{# ╘════════════════ Options ═══════════════╛ #}



{# ╒════════════════ Open Eye ══════════════╕ #}
{% block frm_blc_script %}
{% from "./includes/_password_field.js.j2" import password_field_js %}
{{ password_field_js() }}
{% endblock frm_blc_script %}
{# ╘════════════════ Open Eye ══════════════╛ #}


{# eof #}