{#
------------------------------------------
./accounts/user_prompt.html.html.j2
------------------------------------------
The simplest

mgd
--------------------------------------- #}
{# cSpell:ignore #}

{% extends "./layouts/prompt.html.j2" %}

<!-- eof -->