{# ------------------------------------
_action_forms_and_btns.html.j2

Macros for Action Forms and Buttons:
- `action_form__close`: Closes the form and redirects to 'on_close' usually login()

Buttons:
- `btn_close`: [Close] | [X]
- `btn_submit`: [Submit]

v2 2025.04.01
mgd

Spell:ignore endmacro preid onclick
#}

{# -- Post form: includes security token & cargo -- #}
{% macro action_form__post_cargo(form_id, action_route, dlg_wait_process, extra='')%}
{# FORM: Canoa POST form #}
<form id="{{form_id}}" method="post" action="{{action_route}}" {{dlg_wait_process}} {{extra}}>
    <input type="hidden" name="{{safe_token.cargo}}" id="{{safe_token.cargo}}">
    <input type="hidden" name="{{safe_token.key}}" value="{{safe_token.value}}">
</form>
{% endmacro %}



{# -- Close Button: [x] of layouts/dialog.html.j2 -- #}
{% macro btn_close_dlg(form_id, btn_id, caption, extra='') %}
<button type="submit" form="{{form_id}}" id="{{btn_id}}" class="frm-main-btn form-cancel" {{extra}}>
    {{caption | default('Close')}}
</button>
{% endmacro %}

{# -- Submit Button -- #}
{% macro btn_submit(form_id, btn_id, caption, extra='' ) %}
<button type="submit" form="{{form_id}}" id="{{btn_id}}" class="frm-main-btn form-submit" {{extra}}>
    {# --
    The default caption is in English: it is understandable for the user and also indicates that
    the button is awaiting a value from the developer.
    -- #}
    {{caption | default('Save')}}
</button>
{% endmacro %}

{# -- Button to linked through ui_constant, creates it 'own' ID -- #}
{% macro btn_action(action_form__id, caption, cmd= '', attrib= '')%}
<button type="submit" class="frm-main-btn form-submit btn-action" form="{{action_form__id}}" id="{{do_btn_id(cmd, caption)}}" {{attrib}}>
    {{caption}}
</button>
{% endmacro %}
{# -- Button #}
{# eof #}