{# ------------------------------------
_password_field.js.j2

Macros helper for the password field of a form,
js code to control shw/hide the icon eye

    v1 2026.03.20
    mgd

    Spell:ignore endmacro preid tabindex mousedown mouseup touchstart touchend mouseleave

    #}

{% macro password_field_js() %}
<script id="pwd_toggle">
    const icon_close= 'fa-eye-slash';
    const icon_open= 'fa-eye';

    const pwToggle = (btn, type, icon_1, icon_2) => {
        const input = document.getElementById(btn.dataset.target);
        input.type = type;
        btn.querySelector('i').classList.replace(icon_1, icon_2);
    }
    const pwShow = btn => pwToggle(btn, 'text',     icon_open,  icon_close);
    const pwHide = btn => pwToggle(btn, 'password', icon_close, icon_open);
    const pwEvents = [
        ['mousedown',  pwShow],
        ['mouseup',    pwHide],
        ['touchstart', pwShow],
        ['touchend',   pwHide],
        ['mouseleave', pwHide],
    ];

    pwEvents.forEach(([ev, fn]) => {
        document.addEventListener(ev, e => {
            const b = e.target.closest('[data-toggle-password]');
            if (b) fn(b);
        }, true);
    });
</script>
{% endmacro %}


{# eof #}