{# ------------------------------------
_password_field.html.js.j2

Macros helper for the password field of a form,
Set an <eye> icon to show/hide the password

    v1 2026.03.20
    mgd

    Spell:ignore endmacro preid tabindex
    #}


    {% macro password_field_input(field, faStyle, label="Password", show_text= "Show", icon= "fa-key") %}

    <label class="form-label" inert for="{{ field.name }}">{{ label }}</label>
    <div class="input-group">
        <span class="input-group-text"><i class="{{faStyle}} fa-fw {{ icon }}"></i></span>
        {{ field() }}
        <button type="button" class="btn btn-outline-secondary form-pw-eye-btn" data-toggle-password tabindex="-1" data-target="{{ field.id }}"
            title="{{ show_text }}">
            <i class="{{faStyle}} fa-fw fa-eye form-pw-eye-icon"></i>
        </button>
    </div>

    {% endmacro %}


    {# eof #}