{# ------------------------------------
./includes/backend-msg.html.j2
---------------------------------

Displays HTML messages (Warn, Error, Success, Info, Technical)
See carranca\common\UITextsKeys.py

mgd
--------------------------------------- #}
{# cSpell:ignore #}


{% if msgInfo or msgWarn or msgError or msgSuccess or msgTech %}
{# ╒═════════════════ Display if Any Message Available ═════════════════╕ #}
<div class="text-center text-md-center">
    <h6 class="font-weight-normal">

        {% set first_msg = True %}

        {# ┄┄┄┄┄ Warning ┄┄┄┄┄ #}
        {% if msgWarn %}
        <div class="alert alert-warning {% if not first_msg %}mt-1{% endif %} mb-0">
            <i class="backend-msg-icon" inert>⚠️</i>
            <div>{{ msgWarn | safe }}</div>
        </div>
        {% set first_msg = False %}
        {% endif %}

        {# ┄┄┄┄┄ Error ┄┄┄┄┄ #}
        {% if msgError %}
        <div class="alert alert-danger {% if not first_msg %}mt-1{% endif %} mb-0">
            <i class="backend-msg-icon" inert>🛑</i>
            <div>{{ msgError | safe }}</div>
        </div>
        {% set first_msg = False %}
        {% endif %}

        {# ┄┄┄┄┄ Success ┄┄┄┄┄ #}
        {% if msgSuccess %}
        <div class="alert alert-success {% if not first_msg %}mt-1{% endif %} mb-0">
            <i class="backend-msg-icon" inert>⭐</i>
            <div>{{ msgSuccess | safe }}</div>
        </div>
        {% set first_msg = False %}
        {% endif %}

        {# ┄┄┄┄┄ Information ┄┄┄┄┄ #}
        {% if msgInfo %}
        <div class="alert alert-info {% if not first_msg %}mt-1{% endif %} mb-0">
            <i class="backend-msg-icon" inert>🛈</i>
            <div>{{ msgInfo | safe }}</div>
        </div>
        {% set first_msg = False %}
        {% endif %}

        {# ┄┄┄┄┄ Technical ┄┄┄┄┄ #}
        {% if msgTech %}
        <div class="alert alert-dark {% if not first_msg %}mt-1{% endif %} mb-0">
            <i class="backend-msg-icon" inert>⚙️</i>
            <div>{{ msgTech | safe }}</div>
        </div>
        {% set first_msg = False %}
        {% endif %}

    </h6>
</div>
{# ╘═════════════════ Display if Any Message Available ═════════════════╛ #}

{% endif %}

{# eof #}